:root {
  --linkButton-font-size: 1rem;
  --linkButton-font-weight: 500;
  --linkButton-font-color: #000000;
  --linkButton-font-color-hover: #777777;
  --linkButton-margin: 7px 7px 7px 7px;
  --linkButton-padding: 5px 5px 5px 5px;

  --linkButton-gap: 10px;

  --linkButton-fontName: ;
}

span.linkButtonContainer {
  display: inline-block;
  margin: var(--linkButton-margin);
  padding: var(--linkButton-padding);

  gap: var(--linkButton-gap);
}

a.linkButton {
  font-family: var(--linkButton-fontName);
  text-decoration: none;
  text-align: justify;

  font-size: var(--linkButton-font-size);
  font-weight: var(--linkButton-font-weight);
  color: var(--linkButton-font-color);
}

a.linkButton:hover {
  color: var(--linkButton-font-color-hover);
}

a.linkButton:link {
  color: var(--linkButton-font-color);
}