:root {
  --linkButton-font-size: 1em;
  --linkButton-font-weight: 500;
  --linkButton-font-color: #000000;
  --linkButton-font-color-hover: #777777;
  --linkButton-margin: 5px 5px 5px 5px;
  --linkButton-padding: 10px 10px 10px 10px;
}

span.linkButtonContainer {
  display: inline-block;
  margin: var(--linkButton-margin);
  padding: var(--linkButton-padding);
}

a.linkButton {
  font-family: Montserrat;
  text-underline-position: from-font;
  text-decoration: none;
  text-align: justify;

  font-size: var(--linkButton-font-size);
  font-weight: var(--linkButton-font-weight);
  color: var(--linkButton-font-color);
}

a.linkButton:hover {
  color: var(--linkButton-font-color-hover);
}

a.linkButton:link {
  color: var(--linkButton-font-color);
}