:root {
  --loginForm-primaryColor: ;
  --loginForm-height: 60vh;
  --loginForm-width: 60vw;
  --loginForm-minHeight: 60vh;
  --loginForm-minWidth: 60vw;

  --loginBody-mobileHeight: 85vh;
  --loginBody-desktopHeight: 90vh;
}

div.loginBody {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--loginBody-mobileHeight);
}

div.loginForm {
  background-color: var(--loginForm-primaryColor);
  color: white;

  height: var(--loginForm-height);
  min-height: var(--loginForm-minHeight);
  width: var(--loginForm-width);
  min-width: var(--loginForm-minWidth);
}

/* Desktop website */
@media screen and (min-width: 768px) {
  div.loginBody {
    background-image:  url(../../assets/mainBackground.png);
    background-size: 100% 100%;
    height: var(--loginBody-desktopHeight);
  }
}
