:root {
  --menuButtonPosition: 6vw;
  --menuButtonWidth: 45px;
  --menuButtonHeight: 40px;
  --animation-time: 250ms;

  --mobileDisplay: 768px;
}

span.menuButton {
  position: sticky;
  z-index: 1;
}

img.menuButton {
  display: block;
  position: fixed;

  top: var(--menuButtonPosition);
  left: var(--menuButtonPosition);

  width: var(--menuButtonWidth);
  height: var(--menuButtonHeight);

  cursor: pointer;
  transition: transform var(--animation-time) linear;
}
