:root {
  --animation-time: 0;
  --min-width: 0;
}

div.menuButton {
  /* Make sticky*/
  position: sticky;
  top: 25px;

  z-index: 1;
}

img.menuButton {
  position: relative;
  left: 25px;
  width: 44.85px;
  height: 39px;

  transition: transform var(--animation-time) linear;
}

@media screen and (min-width: 800px) {
  div.menuButton {
    display: none;
  }
}
