:root {
  --nav-mobileBgColor: #FFFFFF66;
  --nav-desktopBgColor: #000000;

  --nav-mobileBoxshadow: 5px 4px 15px 0px #00000026;
  --nav-desktopBoxshadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* Real value is in .env */
  --nav-mobileWidth: 0;
  --nav-border-radius: 25px;
  --nav-background-blur: 4px;

  --nav-desktopBarHeight: 10vh;
  --nav-desktopBarMinHeight: 75px;


  --nav-logoMinHeight: 50px;
  --nav-logoHeight: 7vh;

  --animation-time: 250ms;
}

/* Mobile website*/

span.divBgBlur {
  display: block;
  position: fixed;
  z-index: 1;

  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(var(--nav-background-blur));
  -webkit-backdrop-filter: blur(var(--nav-background-blur));
}

span.navBar {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  background-color: var(--nav-mobileBgColor);
  box-shadow: var(--nav-mobileBoxshadow);

  width: var(--nav-mobileWidth);
  height: 100vh;

  transition: transform var(--animation-time) ease-in-out;
}

div.navBarContainer {
  display: block;
  width: 100%;
  height: var(--nav-desktopBarHeight);
}

div.navBarDesktop {
  display: none;
}

span.navBarFiller {
  width: 0;
  height: 0;
}

div.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: -webkit-fill-available;
  width: -moz-available;
}

span.navBarFiller {
  display: block;
}

span.imgContainer {
  display: none;
}

img.logo {
  display: none;
}

/* Desktop website */
@media screen and (min-width: 768px) {
  span.divBgBlur {
    display: none;
  }

  span.menuButton {
    display: none;
  }

  span.navBar {
    display: none;
  }

  div.navBarDesktop {
    display: block;
    position: fixed;
    top: 0;

    min-height: var(--nav-desktopBarMinHeight);
    height: var(--nav-desktopBarHeight);
    width: -webkit-fill-available;
    width: -moz-available;

    background-color: var(--nav-desktopBgColor);
    box-shadow: var(--nav-desktopBoxshadow);

    border-bottom-left-radius: var(--nav-border-radius);
    border-bottom-right-radius: var(--nav-border-radius);
  }

  div.buttonContainer {
    min-height: var(--nav-desktopBarMinHeight);
    height: var(--nav-desktopBarHeight);

    display: inline-grid;
    display: -ms-inline-grid;
    display: -moz-inline-grid;
  
    grid-template-columns: 0.6fr 1.4fr 1fr 1vw;
    grid-template-rows: fit-content;
  }

  a.logoContainer {
    justify-self: center;
  }

  img.logo {
    display: inline-block;

    height: var(--nav-logoHeight);
    min-height: var(--nav-desktopBarMinHeight);
  }

  span.loginGroup {
    justify-self: end;
  }
}
